{
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    {
      "path":  "@semantic-release/github",
      "assets": [
        { "path": "*.zip", "label": "Plugin zip file" },
        { "path": "*.zip.md5", "label": "Plugin zip file checksum" }
      ]
    },
    "@semantic-release/changelog",
    [
      "@semantic-release/npm",
      {
        "npmPublish": false
      }
    ],
    {
      "path": "@semantic-release/git",
      "message": "chore(release): <%= nextRelease.version %> - <%= new Date().toLocaleDateString('en-US', {year: 'numeric', month: 'short', day: 'numeric', hour: 'numeric', minute: 'numeric' }) %> [skip ci]\n\n<%= nextRelease.notes %>"
    }
  ],
  "branches": ["main"]
}